#app-container{
    display: grid;
    grid-template-areas: 
    " header header . cart"
    "products products products checkout";
}
.products{
    display: grid;
    grid-area: products;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding: 10px;
    width: 75%;

}
#checkout-form-container{
    grid-area: checkout;
    width: 50%;
}
#shopping-cart-container{
    grid-area: cart;
    width: 50%;
}
h1{
    grid-area: header;
}